.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-border-color);
}

.logo_black {
  color: var(--black-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header__mobile-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }

  .header__mobile-open-icon {
    width: 40px;
    height: 40px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .header__mobile-open-btn {
    display: none;
  }

  .header__navigation {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
