.portfolio__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.portfolio-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-menu__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-menu__btn {
  padding: 6px 22px;
  text-align: center;
  font-weight: 500;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
  }
}
