.team {
  background-color: var(--secondary-background-color);
  line-height: 1.19;
}

.team__list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item-content {
  padding: 30px;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.team__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  margin-bottom: 16px;
}
