:root {
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --header-border-color: #ececec;
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --black-color: #000000;
  --link-color: #afb1b8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-form-border: rgba(255, 255, 255, 0.3);
  --portfolio-border-cards: #eeeeee;
  --working-section-background: rgba(47, 48, 58, 0.8);
  --portfolio-examples-background: rgba(33, 150, 243, 0.9);
  --modal-window-background: rgba(0, 0, 0, 0.2);
  --modal-form-border: rgba(33, 33, 33, 0.2);
  --contact-form-color: rgba(117, 117, 117, 0.5);
}
